.side-nav-back{
    font-family: $font1;
    font-size: 1.5rem;
    background-color: var(--dark-blue);
 
    &-ul{
        list-style: none;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center ;
        gap: rem(5);
        color: var(--black);
        width: 100%;
        overflow: hidden;
        background-color: var(--dark-blue);


        &-li{
            border-bottom: rem(0.5) solid var(--white);
            padding: rem(15) ;
            box-sizing: border-box;
            display: inline-block;
            text-align: left;
            position: relative;
            text-align: left;
            width: 100%;
        }


        a{
            text-decoration: none !important;
            color: var(--white);
        }

        .button{
            position: absolute;
            right: 0;
            position:translateY(50%);
        }
    }
    &-profile {
        width: rem(40);
        height: rem(40);
        border-radius: 50%;
        background-color: var(--orange);
    }    
}




@media only screen and (min-width: 768px) {
  
.side-nav-back{
    display: inline-block;
    height: 100%;

    &-ul{
        margin: 0;
        width: rem(250);

        &-li{
            text-align: start;
        }
    }

}
}