/* couleurs */

$white: #fff;
$black : #000;
$grey : #6C757D;
$blue : #0d6efd;
$red : #dc3545;
$pink: #F96D98;
$orange: #FBA13D;
$yellow: #F0D850;
$beige: #FFE5CC;
$light-beige: #FFF3E6;


/* variables css */
:root{
    --white: #{$white};
    --black: #{$black};
    --beige: #{$beige};
    --light-beige: #{$light-beige};
    --beige-darker: #{darken($grey, 10%)};
    --blue: #{$blue};
    --blue-darker: #{darken($blue, 10%)};
    --red: #{$red};
    --red-darker: #{darken($red, 10%)};
    --pink: #{$pink};
    --pink-darker: #{darken($pink, 10%)};
    --orange: #{$orange};
    --orange-darker: #{darken($orange, 10%)};
    --yellow: #{$yellow};
    --yellow-darker: #{darken($yellow, 10%)};




    --main-font: #{$font1};
    --title-font: #{font2};

    --main-radius: rem(6);

    --transition-duration: 0.1s;
}